<nav class="navbar navbar-expand-sm navbar-dark bg-dark mb-1 text-center">
        <ul class="navbar-nav text-center ml-5">

          <li class="nav-item ml-5">
            <a class="nav-link orange" [routerLink]="[ 'list' ]" routerLinkActive="active">
                List Todo
            </a>
          </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="[ 'create-edit' ]" routerLinkActive="active">
                  Create Todo
              </a>
            </li>  
            <li class="nav-item cursorMouseHover">
              <a class="nav-link" (click)="logout()">
                  Logout
              </a>
            </li>  
        </ul>
</nav>
