<div class="container mb-5">
  <h1 class="text-center display-4">Todo List</h1>

  <div class="row">
    <div class="col-2 my-4">
      Find by user id
      <input class="form-control text-center" type="number" #userId (keyup)="findTodoByUserId(userId.value)">
    </div>

    <div class="form-check form-switch">
      <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" [(ngModel)]="isPagination"
        (click)="showPagination()" />
      <label class="form-check-label" for="flexSwitchCheckChecked">Check the switch to activate paging</label>
    </div>
  </div>

  <div class="row border border-dark bg-success" id="heading">
    <div class="col-2 border border-dark">Title</div>
    <div class="col-2 border border-dark">Username</div>
    <div class="col-2 border border-dark">User's city</div>
    <div class="col-2 border border-dark">User Street</div>
    <div class="col-2 border border-dark">Completed</div>
    <div class="col-2 border border-dark">Edit</div>
  </div>

  <div class="row border border-dark" *ngFor='let todo of todoCustom let i = index'>
    <div class="col border border-dark">{{todo.title}}</div>
    <div class="col border border-dark">{{todo.user.username}}</div>
    <div class="col border border-dark">{{todo.user.addressEntity.city}}</div>
    <div class="col border border-dark">{{todo.user.addressEntity.street}}</div>
    <div class="col border border-dark">{{todo.completed === true ? "Completed": "Not Completed"}}</div>
    <div class="col border border-dark" >
      <button class="btn btn-warning m-1" [routerLink]="['/create-edit', todo.id]" [disabled]="currentUserId != todo.user.id"> Edit </button>
      <button class="btn btn-danger m-1" (click)='openModalDelete(todo.id, i)' [disabled]="currentUserId != todo.user.id">Delete</button>
    </div>
  </div>

  <nav class="mt-2" aria-label="Page navigation" *ngIf="isPagination">
    <ul class="pagination">
      <li class="page-item" (click)="getTodoItemsPagination(0)">
        <a class="page-link">&lt;&lt;</a>
      </li>
      <li class="page-item" *ngFor='let page of numberPages let i = index' (click)="getTodoItemsPagination(i)">
        <a class="page-link" [ngClass]="{ 'textUnderline': currentPage === i  }"> {{i+1}} </a>
      </li>
      <li class="page-item" (click)="getTodoItemsPagination()">
        <a class="page-link">&gt;&gt;</a>
      </li>
    </ul>
  </nav>
  
  <div class="text-center">
    <p *ngIf="!todoCustom.length">TODOs not found</p>
  </div>

</div>


<ng-template #modalDelete let-modal>
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">Delete Clinic</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"
        (click)="modal.close('Cerrado desde la ventana')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      Are you sure? This operation cannot be undone
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="modal.close('0')">No</button>
      <button type="button" class="btn btn-danger" (click)="modal.close('1')">Yes</button>
    </div>
  </div>
</ng-template>