<div class="container">
    <h2>{{titleTemplate}}</h2>

    <form [formGroup] = "todoForm" (submit)="saveForm()">
        <div class="form-group">
            <label for="userId">User Id *</label>
            <input class="form-control" type="number" id="userId" aria-describedby="userId"  formControlName="userId">
            <small id="userId" class="form-text text-muted">User ID assigned to TODO</small>
            <span class="text-danger"
                *ngIf="(registerFormControl.id.touched || isSubmitted) && registerFormControl.id.errors?.required">
                User ID is required
            </span>
          </div>

          <div class="form-group">
            <label for="title">Title *</label>
            <input class="form-control" type="text"  id="title" aria-describedby="title" placeholder="Some title" formControlName="title">
            <small class="form-text text-muted" id="userId" >Title of TODO length<200 characters</small>
            <span class="text-danger"
                *ngIf="(registerFormControl.title.touched || isSubmitted) && registerFormControl.title.errors?.required">
                Title is required
            </span>
          </div>

          <div class="form-group">
            <label for="isCompleted">Completed</label>
            <select class="form-select"  id="isCompleted" aria-describedby="isCompleted" formControlName="completed">
                <option selected value="false">Not completed</option>
                <option value="true">Completed</option>
            </select>
            <small class="form-text text-muted" id="userId" >Select if it is to be done or is finished</small>
          </div>

          <div class="my-3">
            <button class="btn btn-primary" type="submit" [disabled]="!todoForm.valid">Submit</button>
          </div>
          

    </form>


</div>